{{- define "main" }}
<section class="markdown book-post-list">
  <h1>{{ .Title }}</h1>
  {{- with .Description }}<p>{{ . }}</p>{{- end }}

  {{- with .Site.Taxonomies.tags }}
  <div class="tag-filter-row">
    <strong>Filter by tags:</strong>
    {{- range .ByCount }}
      {{- if le .Count 0 }}{{ continue }}{{ end -}}
      <a class="tag-filter-chip" href="{{ .Page.RelPermalink }}">#{{ .Page.Title }} ({{ .Count }})</a>
    {{- end }}
  </div>
  {{- end }}

  {{- $pages := .RegularPages.ByDate.Reverse -}}
  {{- $paginator := .Paginate $pages -}}

  {{- range $paginator.Pages }}
  <article class="book-post markdown">
    <h2>
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="book-post-content markdown-inner">
      <p>{{ .Summary | plainify | htmlUnescape }}</p>
    </div>
    {{- with .GetTerms "tags" }}
    <div class="post-tag-row">
      {{- range . }}
      <a class="post-tag-chip" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
      {{- end }}
    </div>
    {{- end }}
    <div>
      {{ .Date.Format "2006-01-02" }} · {{ .ReadingTime }} min
    </div>
  </article>
  {{- end }}

  {{- if gt $paginator.TotalPages 1 }}
  <nav class="book-pagination">
    {{- if $paginator.HasPrev }}
    <a href="{{ $paginator.Prev.URL | absURL }}">« {{ i18n "prev_page" }}</a>
    {{- end }}
    {{- if $paginator.HasNext }}
    <a href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }} »</a>
    {{- end }}
  </nav>
  {{- end }}
</section>
{{- end }}
